*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  margin: 0;
  display: block;
}


button {
  cursor: pointer;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: auto;
}

@media  screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media  screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

h1,
h2,
h3,
p {
  margin: 0 auto;
  padding-left: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/*section-2*/

.section-two {
  padding: 96px 0;
}

.wall-icon {
display: none;
}
.stud
{
color:#2E2F42;
text-align: center;
font-size: 36px;
line-height: 40px; 
letter-spacing: 0.72px;
text-transform: capitalize;
}
.stud-text
{
 color: #434455;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; 
letter-spacing: 0.32px;
}

@media screen and (max-width: 767px) {
  .mini-wrapp:not(:last-child) {
    margin-bottom: 72px;
}

}


@media screen and (min-width: 768px) {
  .section-two-wrapp {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
}
.mini-wrapp {
  width: calc((100% - 24px) / 2);
}
.stud
{
  text-align: left;
}

}


@media screen and (min-width: 1158px) {

  .wall-icon {
    display: flex;
    justify-content: center;
  align-items: center;
  background-color: #f4f4fd;
  width: 264px;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
  }

.section-two-wrapp  {
  flex-wrap: nowrap;
  gap: 24px;
}

.mini-wrapp {
  width: calc((100% - 72px) / 4);
}
}

/*section-3*/

.section-three {
  padding: 96px 0;
}
.our-team-class {
  padding-bottom: 72px;
  margin: 0 auto;
 
}

.names-team {
  color: #2E2F42;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.descr-team {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.social-links {
  display: flex;
  justify-content: center;
  gap: 24px;
  width: 100%;
  height: 100%;
  align-items: center;
}
.linco {
  width: 40px;
  height: 40px;
  gap: 24px;
  margin-top: 10px;
  margin-bottom: 32px;
  
}
.icon-main {
  fill: #F4F4FD;
  background-color: #4D5AE5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;

  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.img-team {
  margin-bottom: 32px;
  height: 260px;
}
.our-team-line {
width: 264px;
}


@media screen and (max-width: 767px) {

  .team-item:not(:last-child) {
    margin-bottom: 72px;
  }
 
}



 
@media screen and (min-width: 768px) {

 .team-item {
    width: calc((100% - 24px) / 2);
  }
  .our-team-line {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}
@media screen and (min-width: 1158px) {
  .our-team-line  {
    flex-wrap: nowrap;
    gap: 24px;
  }
  
  .team-item {
    width: calc((100% - 72px) / 4);
  }
}