*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  margin: 0;
  display: block;
}


button {
  cursor: pointer;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: auto;
}

@media  screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media  screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

h1,
h2,
h3,
p {
  margin: 0 auto;
  padding-left: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/*section-2*/

.section-two {
  padding: 96px 0;
}

.wall-icon {
display: none;
}
.stud
{
color:#2E2F42;
text-align: center;
font-size: 36px;
line-height: 40px; 
letter-spacing: 0.72px;
text-transform: capitalize;
}
.stud-text
{
 color: #434455;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; 
letter-spacing: 0.32px;
}

@media screen and (max-width: 767px) {
  .mini-wrapp:not(:last-child) {
    margin-bottom: 72px;
}
}
@media screen and (min-width: 768px) {
  .section-two-wrapp {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
}
.mini-wrapp {
  width: calc((100% - 24px) / 2);
}
.stud
{
  text-align: left;
}
}

@media screen and (min-width: 1158) {
  .wall-icon {
    display: flex;
    justify-content: center;
  align-items: center;
  background-color: #f4f4fd;
  width: 264px;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
  }
.section-two-wrapp  {
  flex-wrap: nowrap;
  gap: 24px;
}
.mini-wrapp {
  width: calc((100% - 72px) / 4);
}
}